*{
    padding: 0;
    margin: 0;
    /* font-family: sans-serif; */
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
img{
    max-width: 100%;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.fixed-width{
    width: 1170px;
    margin: auto;
}
/* header-section css */
.header {
	background-color: #ffffff;
	padding: 50px 0px;
}
.header-menu {
}
.header-menu ul {
    list-style: none;
	text-align: center;
	dis
}
.header-menu ul li {
	display: inline-block;
	margin-left: -4px;
}
.header-menu ul li a {
	background-color: #ddd;
	color: black;
	padding: 10px 20px;
	text-decoration: none;
    font-weight: bold;
	margin-left: 20px;
	transition: .5s;
}
.header-menu ul li:hover > a{
	background-color: rgba(0,0,0,.5);
}
/* Dropdouwn Menu part */
.header-menu ul li{
	position: relative;
}
.header-menu ul li:first-child a{
	margin-left: 0;
}
.header-menu ul li ul {
	position: absolute;
	top: 151%;
	left: 0;
	width: 230px;
	transition: .5s;
	opacity: 0;
	visibility: hidden;
	transform: scaleY(0);
}

.header-menu ul li ul li{
	display: block;
	margin-left: 0;
}
.header-menu ul li ul li a {
	display: block;
	border-bottom: 1px solid beige;
}
.header-menu ul li ul li:first-child a{
	border-top: 1px solid beige;
} 
.header-menu ul li:hover > ul{
	background-color:  rgba(0,0,0,.5);
	opacity: 1;
	visibility: visible;
	transform: scaleY(1);
}

/* sub-menu part */
.header-menu ul li ul li ul li:first-child a{
	border-top: none;
}
.header-menu ul li ul li ul{
	left: 100%;
	top: 0%;
	visibility: hidden;
	opacity: 0;
}


/* .banner {
	padding: 50px 0px;
	background-color:#f6f6f6;
} */
.banner-section {
	padding: 50px 40px;
	background-color: #f6f6f6;
}
.banner-section h1 {
	color: #a52a2a;
	margin-bottom: 15px;
}
.banner-section p{
}

.content-left {
	float: left;
	width: 40%;
}
.content-left .img-item {
	width: 100%;
	height: auto;
}
.content-left .img-item img{
	transform: rotate(0);
}
.content-left .img-item img:hover{
	transform: rotate(360deg);
	transition: .5s;
}
.content-right {
	float: right;
	width: 60%;
	box-sizing: border-box;
}
.content-right h1{
	background-color: #dddddd;
	padding-left: 100px;
}
.content-right h2{
	color: #a52a2a;
}
.content-right strong{
	display: inline-block;
	margin: 10px 0px;
}
.content-right b{
	display: inline-block;
	margin: 10px 0px;
}
.content-right h1,.content-right h2,.content-right p,.content-right strong,.content-right ul,.content-right b{
	padding-left: 100px;
}

/* Service-section Css */
.service{
    padding: 10px 0px;
}
.service .servdiv{
    background-color: #ddd;
    display: block;
    width: 100px;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}
.service-item {
	float: left;
	width: 31.3%;
	background-color: #dddddd;
	box-sizing: border-box;
	margin-left: 1%;
	margin-right: 1%;
	padding: 20px 10px;
	text-align: center;
	transform: scale(1);
}
.service-item:hover{
	transform: scale(1.1);
}

.footer-menu{
    background-color: #ddd;
	border-top: 2px solid black;
	padding: 10px 0px;
}
.footer-menu h2{}